.body{
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    background-color: black;
    height: 70px;
    align-items: center;
    
    /* min-width: 100%; */
}
#port{
    color: #58DDD6;
    font-size: 40px;
    margin: 20px;
}
#abtme{
    margin: 75px;
}
a{
    text-decoration: none;
    color: white;
}
#abtME:hover{
    color: #58DDD6;
}
#cv{
    background-color: #58DDD6;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
    transition : all 0.3s ease;
}
#cv:hover{
    transform: scale(1.1);
    background-color: #2d9f99;
}
#CV{
    margin-left: auto   ;
}

.body{
    display: flex;
    background-color: antiquewhite;
    height: 650px;
    flex-direction: column;
}

.intro{
    display: flex;
    flex-direction: column;
    background-color: grey;
    /* width: 500px; */
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8%;
}

#intro1{
    color: white;
    font-size: 180%;
}
#intro2{
    color: #58DDD6;
    font-size: 200%;
    font-weight: bold;
}
#intro3{
    color: white;
    font-size: 180%;
}
#intro4{
    color: #58DDD6;
    font-size: 200%;
    font-weight: bold;
}
#intro5{
    color: #58DDD6;
    font-size: 200%;
    font-weight: bold;
}

.para{
    display: flex;
    max-width: 550px;
    background-color: grey;
    position: relative;
    top: 15%;
    align-items: center;
}
#paragraph{
    text-align: center;
    font-size: 110%;
}

.eud{
    display: flex;
    /* background-color: grey; */
    position: relative;
    top: 20%;
    border: 2px solid #58DDD6;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.box{
    margin: 20px;
    padding: 2px;
    border-radius: 9%;
    display: flex;
}
#box1{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
#box2{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
#box3{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
@media(max-width:572px){
    .nav{
        width: 100%;
        height: 60px;
    }
    #port{
        font-size: 30px;
    }
    #abtME{
        font-size: 10px;
    }
    #abtme{
        margin: 10px;
    }
    #cv{
        height: 40px;
    }
}

@media(max-width:680px){
    #abtme{
        margin: 10px;
    }
}

@media(max-width:464px){
    #port{
        font-size: 23px;
    }
    #abtme{
        margin: 5px;
    }
    .nav{
        height:55px ;
    }
}

@media(max-width:416px){
    #port{
        font-size: 20px;
    }
}

@media(max-width:400px){
    #cv{
        height: 35px;
        width: 80px;
        font-size: 10px;
        margin: 10px;
    }
    .nav{
        height: 50px;
    }

}

@media(max-width:330px){
    #intro1{
        font-size: 150%;
    }
    #intro2{
        font-size: 170%;
    }
    #intro3{
        font-size: 150%;
    }
    #intro4{
        font-size: 170%;
    }
    #intro5{
        font-size: 170%;
    }
}

/* @media(max-width:652px){
    .eud{
        max-width: 423px;
    }
}

@media(max-width:440px){
    .eud{
        max-width: 200px;
    }
} */